html, body {
    height: 100%;
    width: 100%;
    font-family:'Gill Sans';
    background-color: rgb(206, 236, 246);

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: xxx-large;
}

.hidden {
    visibility: hidden;
}

.five-attempts {
    display: flex;
    /* margin-bottom: 100px; */
    /* if i make the margin bigger, it pushes everything down */
}
/* 
#guess {
    border-bottom: solid black 2px;
    margin: 75px 0px 40px 0px;
} */

.keyboard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5em auto;
}

.row {
    display: flex;
    justify-content: center;
    padding: 3px;
    gap: 5px; 
}

#q, #w, #e, #r, #t, #y, #u, #i, #o, #p, #a, #s, #d, #f, #g, #h, #j, #k, #l, #z, #x, #c, #v, #b, #n, #m {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    font-size: 20px;
    color: grey;
    border-radius: 10%;
    cursor: pointer;
    /* font-size: 12 rem; */
    border: none;
    -webkit-tap-highlight-color: transparent;
    /* display: inline-flex; */
    
}

#hint {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
    border-radius: 10%;
    color: green;
    font-size: large;
    cursor: pointer;
    border: none;
}

.outsidebuttons {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 5px;
} 

#reset {
    color: green;
    font-size: large;
    cursor: pointer;
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 10%;
}

#load-new {
    color: green;
    font-size: large;
    cursor: pointer;
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 10%;
}

.popups {
    display: none;
    /* display: flex;
    flex-direction: column;
    visibility: hidden;  */
}

.modalTwo {
    color: pink; 
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    text-align: center;
    border-radius: 3px;
}

.game-over img {
    width: 100px;

}

.try-again {
    cursor: pointer;
}

.load-new {
    margin: 10px 0px 10px 0px;
    cursor: pointer;
}

.modalThree {
    color: hotpink;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    text-align: center;
    border-radius: 3px;
}

.next {
    cursor: pointer;
}

.close {
    margin: 10px 0px 10px 0px;
    cursor: pointer;
}