html, body {
    height: 100%;
    width: 100%;
    font-family:'Gill Sans';
    background-color: rgb(206, 236, 246);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

#welcome-screen {
    color: pink;
}

h1 {
    font-size: xxx-large;
}

.hidden {
    visibility: hidden;
}

.five-attempts {
    font-size: large;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    color: pink;
    font-size: xxx-large;
}

#guess {
    font-size: xxx-large;
}

#img {
    border-radius: 50%;
    border: solid 5px pink;
    max-width: 20%; 
    height: auto;
    object-fit: contain;
    margin-bottom: 40px;
    background-color: white;
} 

.keyboard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2em auto;
}

.row {
    display: flex;
    justify-content: center;
    padding: 8px;
    gap: 8px; 
}

.key:hover {
    transform: translateY(3px);
}

.key:active {
    box-shadow: 3px 3px rgba(0, 0, 0, 0.835);
    transform: translateY(4px);
}

.key {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    font-size: 20px;
    color: black;
    border-radius: 10%;
    cursor: pointer;
    border: none;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.835);
}

.space-bar:hover {
    transform: translateY(3px);
}

.space-bar:active {
    box-shadow: 3px 3px rgba(0, 0, 0, 0.835);
    transform: translateY(4px);
}

.space-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 250px;
    font-size: 20px;
    color: black;
    border-radius: 10%;
    cursor: pointer;
    border: none;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.835);
}

#hint {
    color: rgb(16, 164, 13);
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 10%;
    box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.835);
    margin-top: 7px;
}

#hint:hover {
    transform: translateY(3px);
}

#hint:active {
    box-shadow: 3px 3px rgba(0, 0, 0, 0.835);
    transform: translateY(4px);
}

#modalOne {
    font-size: xx-large;
    padding: 60px;
    text-align: center;
    color: lightgreen;
}

.outsidebuttons {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 5px;
} 

#reset {
    color: rgb(16, 164, 13);
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 10%;
    box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.835);
    margin-top: 7px;
    margin-bottom: 7px;
}

#reset:hover {
    transform: translateY(3px);
}

#reset:active {
    box-shadow: 3px 3px rgba(0, 0, 0, 0.835);
    transform: translateY(4px);
}

.load-new {
    color: rgb(16, 164, 13);
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 10%;
    box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.835);
}

.load-new:hover {
    transform: translateY(3px);
}

.load-new:active {
    box-shadow: 3px 3px rgba(0, 0, 0, 0.835);
    transform: translateY(4px);
}

.modalTwoStyling {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalTwoStyling h2 {
    margin: auto;
    font-size: xxx-large;
}

.modalTwoStyling p {
    margin: 10px;
}

.try-again, #load-new {
    margin-bottom: 10px;
    background-color: lightpink;
    height: 50px;
    width: auto;
    border-radius: 15%;
    color: mintcream;
    font-size: x-large;
    border: none;
    cursor: pointer;
}

.modalThreeStyling {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalThreeStyling h2 {
    margin: auto;
    font-size: xxx-large;
}

.modalThreeStyling p {
    margin: 10px;
}

.next {
    background-color: lightpink;
    height: 50px;
    width: auto;
    border-radius: 15%;
    color: mintcream;
    font-size: x-large;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

/* .close {
    background-color: lightpink;
    height: 50px;
    width: auto;
    border-radius: 15%;
    color: mintcream;
    font-size: x-large;
    border: none;
    cursor: pointer;
} */